/*styles for home content only*/
@import "../../styles/variables";

#login {
  margin:0 auto;
  display:flex;
  height: 100%;
  background-color: #eaeaea;

  mat-card {
    width: 350px;
    margin: 4em auto;
    padding: 0;
    text-align: center;
    align-self: center;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }

  .login-container {

    .login-box-header {
      padding: 14px;
      background-color: $mat-primary;

      .logo-bird {
        width: 100%;
        height: 70px;
        background: url("../../assets/img/bird-logo.png") no-repeat center/contain;
      }
    }

    .login-box-body {
      padding: 2em 3em;

      .mat-form-field {
        width: 100%;
      }

      .mat-form-field-wrapper {
        padding-top: 1.25em;
      }
    }

    .login-box-footer {
      padding: 0 2em 2em;

      .login-button {
        width: 80%;
        text-transform: uppercase;
      }

      .account-link {
        padding-top: 2em;

        > a {
          color: $mat-primary;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    mat-icon {
      padding-right: 8px;
    }
  }

}
